body {
  background: #0c0c17;
  color: #fff;
  font-family: Pretendard, sans-serif;
  margin: 0;
}

/* 헤더 전체 */
.header {
  text-align: center;
  padding: 30px 0 10px 0;
}

/* 제목 */
.header .title {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

/* 네비게이션 */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 40px;    /* 링크 간 간격 */
}

.nav-menu a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  padding-bottom: 4px;
  transition: 0.2s;
}

/* hover 효과 */
.nav-menu a:hover {
  color: #be2edd;
}

/* 현재 페이지 표시 */
.nav-menu .active {
  border-bottom: 2px solid #be2edd;
}


#introduction {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #ffcc00;
    padding: 15px;
    font-weight: bold;
}

.filter-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.filter-bar input, .filter-bar select {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background: #1a1a1a;
  color: white;
}

.maps-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.map-card {
  display: flex;
  gap: 30px;
  background: #1a1a1a;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(255, 70, 85, 0.2);
  transition: transform 0.3s;
}

.map-card:hover {
  transform: scale(1.03);
}

.map-card img {
  width: 350px;
  border-radius: 10px;
}

.map-info h2 {
  color: #ff4655;
  font-size: 1.7rem;
}

.map-desc {
  color: #ccc;
  margin-bottom: 10px;
}

.map-info ul {
  list-style: none;
  padding: 0;
}

.map-info li {
  margin: 6px 0;
}

footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #333;
  color: #777;
  font-size: 0.9rem;
}
