body {
  background: #0c0c17;
  color: #fff;
  font-family: Pretendard, sans-serif;
  margin: 0;
}

/* 헤더 전체 */
.header {
  text-align: center;
  padding: 30px 0 10px 0;
}

/* 제목 */
.header .title {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

/* 네비게이션 */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 40px;    /* 링크 간 간격 */
}

.nav-menu a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  padding-bottom: 4px;
  transition: 0.2s;
}

/* hover 효과 */
.nav-menu a:hover {
  color: #be2edd;
}

/* 현재 페이지 표시 */
.nav-menu .active {
  border-bottom: 2px solid #be2edd;
}


/* 큰 테두리 박스 */
.night-market-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.night-market-border {
  border: 6px solid #fff;
  padding: 40px;
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 3×2 카드 */
.market-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
}

/* 개별 카드 */
.card {
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform .6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
}

.card-front {
  background: #090915;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

/* 카드 뒷면 */
.card-back {
  background: #1a1a2e;
  border: 3px solid #444;
  transform: rotateY(180deg);
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 12px;
}

.card-back img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  background: #000;
  border-radius: 10px;
}

/* 버튼 */
.reset-btn {
  width: 300px;
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #fff;
  background: #111;
  color: #fff;
  cursor: pointer;
}

/* 오른쪽 패널 모달 */
.modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  background: #1a1a2e;
  display: none;
  flex-direction: column;
  padding: 20px;
  border-left: 3px solid #6e00ff;
  overflow-y: auto;
}

.modal img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 15px;
}

/* 등급별 테두리 */
.rarity-select { border-color: rgba(46, 139, 86, 0.883) !important; }
.rarity-deluxe { border-color: rgba(0, 0, 255, 0.831) !important; }
.rarity-premium { border-color: rgba(128, 0, 128, 0.647) !important; }
.rarity-exclusive { border-color: rgba(255, 255, 0, 0.8) !important; }
.rarity-ultra { border-color: rgba(255, 68, 0, 0.828) !important; }
